<h1>The Depot Site Order Shipped</h1>

<p>
  This is just to let you know that we've shipped your recent order:
</p>
<table>
  <tr>
    <th colspan="2">Qty</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>1&times;</td>
    <td>Programming Ruby 1.9</td>
  </tr>
</table>
